.u-section-1 .u-sheet-1 {min-height: 716px}
.u-section-1 .u-shape-1 {width: 807px; height: 522px; background-image: none; margin: 90px auto 0 35px}
.u-section-1 .u-shape-2 {width: 478px; height: 601px; margin: -497px 0 0 auto}
.u-section-1 .u-image-1 {width: 626px; height: 575px; object-position: 50% 50%; background-position: 50% 50%; margin: -612px auto 0 599px}
.u-section-1 .u-group-1 {width: 547px; min-height: 495px; margin: -575px auto 60px 52px}
.u-section-1 .u-container-layout-1 {padding-left: 20px}
.u-section-1 .u-text-1 {font-weight: 800; font-size: 3.75rem; line-height: 66px; margin: 50px 20px 0 0}
.u-section-1 .u-btn-1 {margin: 35px auto 50px 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 719px}
.u-section-1 .u-shape-1 {position: relative}
.u-section-1 .u-shape-2 {width: 423px; height: 588px; margin-top: -484px; margin-right: auto; margin-left: 547px}
.u-section-1 .u-image-1 {width: 403px; object-position: 38.86% 50%; background-position: 38.86% 50%; margin-top: -581px; margin-left: 557px}
.u-section-1 .u-group-1 {margin-top: -605px}
.u-section-1 .u-container-layout-1 {padding-left: 16px}
.u-section-1 .u-text-1 {position: relative; margin-right: 16px}
.u-section-1 .u-btn-1 {position: relative} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 969px}
.u-section-1 .u-shape-1 {width: 720px; margin-left: 0}
.u-section-1 .u-shape-2 {width: 396px; height: 310px; margin-top: -226px; margin-left: 337px}
.u-section-1 .u-image-1 {width: 371px; height: 283px; margin-top: -298px; margin-right: 0; margin-left: auto}
.u-section-1 .u-group-1 {margin-top: -577px}
.u-section-1 .u-container-layout-1 {padding-left: 13px}
.u-section-1 .u-text-1 {font-weight: 700; margin-top: 76px; margin-right: 76px}
.u-section-1 .u-btn-1 {margin-top: 33px; margin-bottom: 0} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 937px}
.u-section-1 .u-shape-1 {width: 540px}
.u-section-1 .u-shape-2 {height: 306px; margin-top: -223px; margin-left: 144px}
.u-section-1 .u-image-1 {margin-top: -294px; margin-right: 13px}
.u-section-1 .u-group-1 {width: 540px; margin-top: -630px; margin-left: -9px}
.u-section-1 .u-container-layout-1 {padding-left: 9px}
.u-section-1 .u-text-1 {font-size: 3rem; font-weight: 800; width: auto; margin-top: 80px; margin-right: 0; margin-left: 9px}
.u-section-1 .u-btn-1 {margin-top: -23px; margin-right: 28px; margin-left: auto} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 908px}
.u-section-1 .u-shape-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-shape-2 {height: 290px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-image-1 {width: 340px; height: 259px; margin-top: -274px; margin-right: 0}
.u-section-1 .u-group-1 {width: 340px; position: relative; margin-top: -372px; margin-left: 0}
.u-section-1 .u-container-layout-1 {padding-left: 6px}
.u-section-1 .u-text-1 {font-size: 2.25rem; line-height: 1.4; margin-top: -179px; margin-left: 12px}
.u-section-1 .u-btn-1 {margin-top: 12px; margin-right: auto; margin-left: 12px} }.u-section-2 .u-sheet-1 {min-height: 592px}
.u-section-2 .u-image-1 {width: 650px; min-height: 446px; background-image: url("images/Untitled3.jpg"); background-position: 50% 50%; margin: 73px auto 0 1px}
.u-section-2 .u-container-layout-1 {margin-bottom: 0}
.u-section-2 .u-shape-1 {width: 557px; height: 318px; margin: -351px 0 0 auto}
.u-section-2 .u-group-2 {width: 557px; min-height: 348px; margin: -371px 20px 129px auto}
.u-section-2 .u-container-layout-2 {padding-left: 40px}
.u-section-2 .u-text-1 {margin: 40px 20px 0 0}
.u-section-2 .u-text-2 {font-size: 1.875rem; margin: 15px 20px 0 0}
.u-section-2 .u-text-3 {margin: 20px 20px 0 0}
.u-section-2 .u-btn-1 {border-style: solid; margin: 30px auto 35px 0} 

@media (max-width: 1199px){ .u-section-2 .u-image-1 {width: 536px; position: relative}
.u-section-2 .u-shape-1 {width: 459px; position: relative}
.u-section-2 .u-group-2 {width: 459px; position: relative; margin-right: 16px}
.u-section-2 .u-container-layout-2 {padding-left: 16px}
.u-section-2 .u-text-1 {position: relative; margin-right: 16px}
.u-section-2 .u-text-2 {position: relative; margin-right: 16px}
.u-section-2 .u-text-3 {position: relative; margin-right: 16px}
.u-section-2 .u-btn-1 {position: relative} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 650px}
.u-section-2 .u-image-1 {width: 411px}
.u-section-2 .u-shape-1 {width: 352px; height: 413px}
.u-section-2 .u-group-2 {width: 352px; margin-top: -466px; margin-right: 13px; margin-bottom: 83px}
.u-section-2 .u-container-layout-2 {padding-left: 20px}
.u-section-2 .u-text-1 {margin-right: 13px}
.u-section-2 .u-text-2 {margin-right: 13px}
.u-section-2 .u-text-3 {margin-right: 13px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 1086px}
.u-section-2 .u-image-1 {min-height: 444px; width: 472px; margin-left: 0}
.u-section-2 .u-shape-1 {width: 388px; margin-top: 88px}
.u-section-2 .u-group-2 {width: 422px; min-height: 501px; margin-top: -537px; margin-right: 28px; margin-bottom: 104px}
.u-section-2 .u-container-layout-2 {padding-left: 5px; padding-right: 5px}
.u-section-2 .u-text-1 {margin-top: 50px; margin-left: 5px; margin-right: 5px}
.u-section-2 .u-text-2 {margin-left: 5px; margin-right: 5px}
.u-section-2 .u-text-3 {margin-left: 5px; margin-right: 5px}
.u-section-2 .u-btn-1 {margin-left: auto; margin-bottom: 50px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 887px}
.u-section-2 .u-image-1 {min-height: 353px; margin-top: 64px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-shape-1 {width: 277px; height: 315px; margin-top: 95px}
.u-section-2 .u-group-2 {width: 279px; min-height: 407px; margin-top: -439px; margin-right: 26px; margin-bottom: 92px}
.u-section-2 .u-container-layout-2 {padding-left: 19px; padding-right: 19px}
.u-section-2 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-2 .u-text-2 {font-size: 1.5rem; margin-left: 0; margin-right: 0}
.u-section-2 .u-text-3 {margin-left: 0; margin-right: 0}
.u-section-2 .u-btn-1 {margin-right: 163px; margin-bottom: 0; margin-left: 0} }.u-section-3 .u-sheet-1 {min-height: 775px}
.u-section-3 .u-group-1 {width: 868px; min-height: 115px; margin: 30px auto 0}
.u-section-3 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-3 .u-text-1 {margin: 10px 20px}
.u-section-3 .u-layout-wrap-1 {margin: 47px auto 0 0}
.u-section-3 .u-layout-cell-1 {min-height: 566px}
.u-section-3 .u-image-1 {width: 313px; height: 286px; margin: 20px auto 0}
.u-section-3 .u-shape-1 {height: 326px; margin: -306px auto 0 0}
.u-section-3 .u-group-2 {width: 236px; min-height: 56px; margin: -99px 0 0 auto}
.u-section-3 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-2 {font-style: italic; font-weight: 400; font-size: 1.25rem; margin: 5px 0}
.u-section-3 .u-text-3 {font-style: italic; margin: 70px 20px 0}
.u-section-3 .u-layout-cell-2 {min-height: 566px}
.u-section-3 .u-image-2 {width: 313px; height: 286px; object-position: 28.06% 50%; background-position: 28.06% 50%; margin: 20px auto 0}
.u-section-3 .u-shape-2 {height: 326px; margin: -306px auto 0 0}
.u-section-3 .u-group-3 {width: 236px; min-height: 56px; margin: -99px 0 0 auto}
.u-section-3 .u-container-layout-5 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-4 {font-style: italic; font-weight: 400; font-size: 1.25rem; margin: 5px 0}
.u-section-3 .u-text-5 {font-style: italic; margin: 70px 20px 0}
.u-section-3 .u-layout-cell-3 {min-height: 566px}
.u-section-3 .u-image-3 {width: 313px; height: 286px; margin: 20px auto 0}
.u-section-3 .u-shape-3 {height: 326px; margin: -306px auto 0 0}
.u-section-3 .u-group-4 {width: 236px; min-height: 56px; margin: -99px 0 0 auto}
.u-section-3 .u-container-layout-7 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-6 {font-style: italic; font-weight: 400; font-size: 1.25rem; margin: 5px 0}
.u-section-3 .u-text-7 {font-style: italic; margin: 70px 20px 0} 

@media (max-width: 1199px){ .u-section-3 .u-group-1 {width: 716px; position: relative}
.u-section-3 .u-text-1 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-3 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-1 {width: 258px; position: relative}
.u-section-3 .u-shape-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-3 .u-group-2 {width: 194px; position: relative}
.u-section-3 .u-container-layout-3 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-text-2 {position: relative}
.u-section-3 .u-text-3 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-3 .u-image-2 {width: 258px; position: relative}
.u-section-3 .u-shape-2 {position: relative; margin-right: initial; margin-left: initial}
.u-section-3 .u-group-3 {width: 194px; position: relative}
.u-section-3 .u-container-layout-5 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-text-4 {position: relative}
.u-section-3 .u-text-5 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-3 .u-image-3 {width: 258px; position: relative}
.u-section-3 .u-shape-3 {position: relative; margin-right: initial; margin-left: initial}
.u-section-3 .u-group-4 {width: 194px; position: relative}
.u-section-3 .u-container-layout-7 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-text-6 {position: relative}
.u-section-3 .u-text-7 {position: relative; margin-left: 16px; margin-right: 16px} }

@media (max-width: 991px){ .u-section-3 .u-group-1 {width: 548px}
.u-section-3 .u-text-1 {margin-left: 13px; margin-right: 13px}
.u-section-3 .u-image-1 {width: 305px}
.u-section-3 .u-group-2 {width: 149px}
.u-section-3 .u-container-layout-3 {padding-left: 13px; padding-right: 13px}
.u-section-3 .u-text-3 {margin-left: 13px; margin-right: 13px}
.u-section-3 .u-image-2 {width: 305px}
.u-section-3 .u-group-3 {width: 207px; min-height: 58px}
.u-section-3 .u-container-layout-5 {padding-left: 13px; padding-right: 13px}
.u-section-3 .u-text-5 {margin-left: 13px; margin-right: 13px; margin-bottom: 60px}
.u-section-3 .u-image-3 {width: 305px}
.u-section-3 .u-group-4 {width: 149px}
.u-section-3 .u-container-layout-7 {padding-left: 13px; padding-right: 13px}
.u-section-3 .u-text-7 {margin-left: 13px; margin-right: 13px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 2063px}
.u-section-3 .u-group-1 {width: 514px}
.u-section-3 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-3 .u-layout-wrap-1 {width: 398px; margin: 40px auto 40px 71px}
.u-section-3 .u-image-1 {width: 358px}
.u-section-3 .u-group-2 {width: 190px}
.u-section-3 .u-container-layout-3 {padding-left: 9px; padding-right: 9px}
.u-section-3 .u-text-3 {margin: 71px 9px 60px}
.u-section-3 .u-image-2 {width: 358px}
.u-section-3 .u-group-3 {width: 190px}
.u-section-3 .u-container-layout-5 {padding-left: 9px; padding-right: 9px}
.u-section-3 .u-text-5 {margin-left: 9px; margin-right: 9px}
.u-section-3 .u-image-3 {width: 358px}
.u-section-3 .u-group-4 {width: 190px; min-height: 55px}
.u-section-3 .u-container-layout-7 {padding-left: 9px; padding-right: 9px}
.u-section-3 .u-text-7 {margin: 71px 9px 60px} }

@media (max-width: 575px){ .u-section-3 .u-group-1 {width: 340px}
.u-section-3 .u-text-1 {margin-left: 6px; margin-right: 6px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-image-1 {width: 300px}
.u-section-3 .u-group-2 {width: 186px; min-height: 58px}
.u-section-3 .u-container-layout-3 {padding-left: 6px; padding-right: 6px}
.u-section-3 .u-text-3 {margin-left: 6px; margin-right: 6px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-image-2 {width: 300px}
.u-section-3 .u-group-3 {width: 186px}
.u-section-3 .u-container-layout-5 {padding-left: 6px; padding-right: 6px}
.u-section-3 .u-text-5 {margin-left: 6px; margin-right: 6px}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-image-3 {width: 300px}
.u-section-3 .u-group-4 {width: 186px; min-height: 58px}
.u-section-3 .u-container-layout-7 {padding-left: 6px; padding-right: 6px}
.u-section-3 .u-text-7 {margin-left: 6px; margin-right: 6px} }.u-section-4 .u-sheet-1 {min-height: 393px}
.u-section-4 .u-layout-wrap-1 {margin: 0 auto 28px 0}
.u-section-4 .u-layout-cell-1 {min-height: 258px}
.u-section-4 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-4 .u-icon-1 {height: 84px; width: 84px; margin: 25px auto 0}
.u-section-4 .u-text-1 {text-transform: uppercase; font-weight: 400; letter-spacing: 2px; font-size: 1rem; width: 203px; margin: 39px auto 25px}
.u-section-4 .u-layout-cell-2 {min-height: 258px}
.u-section-4 .u-container-layout-2 {padding-left: 0; padding-right: 0}
.u-section-4 .u-icon-2 {height: 84px; width: 84px; margin: 25px auto 0}
.u-section-4 .u-text-2 {text-transform: uppercase; font-weight: 400; letter-spacing: 2px; font-size: 1rem; width: 203px; margin: 39px auto 25px}
.u-section-4 .u-layout-cell-3 {min-height: 258px}
.u-section-4 .u-container-layout-3 {padding-left: 0; padding-right: 0}
.u-section-4 .u-icon-3 {height: 84px; width: 84px; margin: 25px auto 0}
.u-section-4 .u-text-3 {text-transform: uppercase; font-weight: 400; letter-spacing: 2px; font-size: 1rem; width: 203px; margin: 39px auto 25px}
.u-section-4 .u-layout-cell-4 {min-height: 258px}
.u-section-4 .u-container-layout-4 {padding-left: 0; padding-right: 0}
.u-section-4 .u-icon-4 {height: 84px; width: 84px; margin: 58px auto 0}
.u-section-4 .u-text-4 {text-transform: uppercase; font-weight: 400; letter-spacing: 2px; font-size: 1rem; width: 203px; margin: 39px 30px 0} 

@media (max-width: 1199px){ .u-section-4 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-4 .u-icon-1 {height: 69px; width: 69px; display: block; position: relative}
.u-section-4 .u-text-1 {position: relative; width: 167px}
.u-section-4 .u-icon-2 {height: 69px; width: 69px; display: block; position: relative}
.u-section-4 .u-text-2 {position: relative; width: 167px}
.u-section-4 .u-icon-3 {height: 69px; width: 69px; display: block; position: relative}
.u-section-4 .u-text-3 {position: relative; width: 167px}
.u-section-4 .u-icon-4 {height: 69px; width: 69px; display: block; position: relative}
.u-section-4 .u-text-4 {margin-left: 5px; margin-right: 5px; position: relative; width: 167px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 657px}
.u-section-4 .u-icon-1 {height: 53px; width: 53px}
.u-section-4 .u-text-1 {width: 128px}
.u-section-4 .u-icon-2 {height: 53px; width: 53px}
.u-section-4 .u-text-2 {width: 128px}
.u-section-4 .u-icon-3 {height: 53px; width: 53px}
.u-section-4 .u-text-3 {width: 128px}
.u-section-4 .u-icon-4 {height: 53px; width: 53px}
.u-section-4 .u-text-4 {width: 128px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 1147px}
.u-section-4 .u-layout-wrap-1 {width: 343px; margin-right: auto; margin-left: 99px}
.u-section-4 .u-icon-1 {height: 50px; width: 50px}
.u-section-4 .u-text-1 {width: 120px}
.u-section-4 .u-icon-2 {height: 50px; width: 50px}
.u-section-4 .u-text-2 {width: 120px}
.u-section-4 .u-icon-3 {height: 50px; width: 50px}
.u-section-4 .u-text-3 {width: 120px}
.u-section-4 .u-icon-4 {height: 50px; width: 50px}
.u-section-4 .u-text-4 {width: 120px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 1092px}
.u-section-4 .u-layout-wrap-1 {margin-bottom: 90px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-icon-1 {height: 42px; width: 42px}
.u-section-4 .u-text-1 {width: 101px; margin-bottom: 3px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-icon-2 {height: 42px; width: 42px}
.u-section-4 .u-text-2 {width: 101px; margin-bottom: 3px}
.u-section-4 .u-layout-cell-3 {min-height: 100px}
.u-section-4 .u-icon-3 {height: 42px; width: 42px}
.u-section-4 .u-text-3 {width: 101px; margin-bottom: 3px}
.u-section-4 .u-layout-cell-4 {min-height: 100px}
.u-section-4 .u-icon-4 {height: 42px; width: 42px}
.u-section-4 .u-text-4 {width: 101px; margin-bottom: 3px} }.u-section-5 .u-sheet-1 {min-height: 340px}
.u-section-5 .u-layout-wrap-1 {margin: -136px auto 0 0}
.u-section-5 .u-layout-cell-1 {min-height: 148px}
.u-section-5 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-5 .u-text-1 {margin: 59px 20px 15px}
.u-section-5 .u-layout-cell-2 {min-height: 328px}
.u-section-5 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-text-2 {font-size: 3rem; line-height: 1.5; margin: 70px 0 0}
.u-section-5 .u-layout-cell-3 {min-height: 328px}
.u-section-5 .u-container-layout-3 {padding-left: 20px}
.u-section-5 .u-text-3 {font-size: 1.5rem; margin: 30px 6px 0}
.u-section-5 .u-line-1 {width: 252px; position: relative; transform-origin: left center 0; margin: 20px auto 0} 

@media (max-width: 1199px){ .u-section-5 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 149px}
.u-section-5 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-5 .u-text-1 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-5 .u-layout-cell-2 {min-height: 399px}
.u-section-5 .u-container-layout-2 {padding-left: 25px; padding-right: 25px}
.u-section-5 .u-text-2 {position: relative}
.u-section-5 .u-layout-cell-3 {min-height: 399px}
.u-section-5 .u-container-layout-3 {padding-left: 16px}
.u-section-5 .u-text-3 {position: relative; margin-right: 5px; margin-left: 5px}
.u-section-5 .u-line-1 {width: 208px} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 411px}
.u-section-5 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-5 .u-text-1 {margin-left: 13px; margin-right: 13px}
.u-section-5 .u-container-layout-2 {padding-left: 32px; padding-right: 32px}
.u-section-5 .u-text-2 {font-size: 1.5rem}
.u-section-5 .u-container-layout-3 {padding-left: 13px}
.u-section-5 .u-text-3 {margin-right: 4px; margin-left: 4px}
.u-section-5 .u-line-1 {width: 159px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 693px}
.u-section-5 .u-layout-cell-1 {min-height: 131px}
.u-section-5 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-5 .u-text-1 {margin-left: 9px; margin-right: 9px; margin-bottom: 0}
.u-section-5 .u-layout-cell-2 {min-height: 350px}
.u-section-5 .u-container-layout-2 {padding-left: 23px; padding-right: 23px}
.u-section-5 .u-text-2 {font-size: 3rem}
.u-section-5 .u-layout-cell-3 {min-height: 350px}
.u-section-5 .u-container-layout-3 {padding-left: 5px; padding-right: 5px}
.u-section-5 .u-text-3 {margin-left: 3px; margin-right: 3px}
.u-section-5 .u-line-1 {width: 149px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 661px}
.u-section-5 .u-layout-wrap-1 {margin-top: -67px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-5 .u-text-1 {margin-top: 72px; margin-left: 6px; margin-right: 6px}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-container-layout-2 {padding-left: 15px; padding-right: 15px}
.u-section-5 .u-text-2 {font-size: 1.875rem; margin-top: 94px}
.u-section-5 .u-layout-cell-3 {min-height: 100px}
.u-section-5 .u-container-layout-3 {padding-left: 1px; padding-right: 1px}
.u-section-5 .u-text-3 {margin-top: 60px; margin-left: 6px; margin-right: 6px}
.u-section-5 .u-line-1 {width: 252px} }.u-section-6 {background-image: linear-gradient(0deg, rgba(165,30,30,0.4), rgba(165,30,30,0.4)), url("images/6d5e212646ca1e726ade89d5aa6210aa.jpeg")}
.u-section-6 .u-sheet-1 {min-height: 630px; position: relative}
.u-section-6 .u-shape-1 {height: 83px; margin: 0 auto}
.u-section-6 .u-shape-2 {width: 628px; height: 306px; margin: 83px auto 0 249px}
.u-section-6 .u-group-1 {width: 570px; min-height: 268px; margin: -287px auto 65px 278px}
.u-section-6 .u-container-layout-1 {padding-left: 45px; padding-right: 53px}
.u-section-6 .u-text-1 {margin: 25px 0 0}
.u-section-6 .u-text-2 {font-style: normal; margin: 20px 0 25px} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {margin: 0 auto}
.u-section-6 .u-shape-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-6 .u-shape-2 {width: 602px; position: relative; margin-left: 163px}
.u-section-6 .u-group-1 {width: 554px; position: relative; margin-bottom: 177px; margin-left: 187px}
.u-section-6 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-6 .u-text-1 {position: relative; margin-top: 82px}
.u-section-6 .u-text-2 {position: relative; font-style: italic; margin-top: 16px} }

@media (max-width: 991px){ .u-section-6 .u-shape-2 {width: 388px; margin-left: 166px}
.u-section-6 .u-group-1 {width: 360px; margin-left: 176px}
.u-section-6 .u-container-layout-1 {padding-left: 13px; padding-right: 13px} }

@media (max-width: 767px){ .u-section-6 .u-shape-2 {width: 436px; margin-left: auto}
.u-section-6 .u-group-1 {width: 398px; margin-left: auto}
.u-section-6 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-6 .u-text-1 {margin-top: 25px} }

@media (max-width: 575px){ .u-section-6 .u-shape-2 {margin-right: initial; margin-left: initial; width: auto}
.u-section-6 .u-group-1 {width: 304px}
.u-section-6 .u-container-layout-1 {padding-left: 6px; padding-right: 6px} }.u-section-7 .u-sheet-1 {min-height: 501px}
.u-section-7 .u-shape-1 {height: 613px; width: 1140px; margin: -112px auto 0 2px}
.u-section-7 .u-layout-wrap-1 {width: 1046px; margin: -566px auto 68px 47px}
.u-section-7 .u-layout-cell-1 {min-height: 528px}
.u-section-7 .u-shape-2 {height: 335px; width: 296px; margin: 47px 0 0 auto}
.u-section-7 .u-image-1 {width: 296px; height: 349px; margin: -382px auto 0 0}
.u-section-7 .u-text-1 {width: 196px; margin: 47px auto 0}
.u-section-7 .u-text-2 {width: 196px; margin: 20px auto 0}
.u-section-7 .u-layout-cell-2 {min-height: 528px}
.u-section-7 .u-shape-3 {height: 335px; width: 296px; margin: 47px 0 0 auto}
.u-section-7 .u-image-2 {width: 296px; height: 349px; margin: -382px auto 0 0}
.u-section-7 .u-text-3 {width: 196px; margin: 47px auto 0}
.u-section-7 .u-text-4 {width: 196px; margin: 20px auto 0}
.u-section-7 .u-layout-cell-3 {min-height: 528px}
.u-section-7 .u-shape-4 {height: 335px; width: 296px; margin: 47px 0 0 auto}
.u-section-7 .u-image-3 {width: 296px; height: 349px; margin: -382px auto 0 0}
.u-section-7 .u-text-5 {width: 196px; margin: 47px auto 0}
.u-section-7 .u-text-6 {width: 196px; margin: 20px auto 0} 

@media (max-width: 1199px){ .u-section-7 .u-shape-1 {position: relative; width: 938px}
.u-section-7 .u-layout-wrap-1 {position: relative; width: 863px; margin-left: 39px}
.u-section-7 .u-shape-2 {position: relative; width: 244px}
.u-section-7 .u-image-1 {width: 244px; position: relative}
.u-section-7 .u-text-1 {position: relative; margin-left: 24px; margin-right: 24px; width: auto}
.u-section-7 .u-text-2 {position: relative; width: 162px; margin-top: 15px; margin-bottom: 38px}
.u-section-7 .u-shape-3 {position: relative; width: 244px}
.u-section-7 .u-image-2 {width: 244px; position: relative}
.u-section-7 .u-text-3 {position: relative; margin-left: 24px; margin-right: 24px; width: auto}
.u-section-7 .u-text-4 {position: relative; width: 162px; margin-top: 14px; margin-bottom: 39px}
.u-section-7 .u-shape-4 {position: relative; width: 244px}
.u-section-7 .u-image-3 {width: 244px; position: relative}
.u-section-7 .u-text-5 {position: relative; margin-left: 24px; margin-right: 24px; width: auto}
.u-section-7 .u-text-6 {position: relative; width: 162px; margin-top: 9px; margin-bottom: 44px} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 971px}
.u-section-7 .u-shape-1 {width: 719px; margin-left: 1px}
.u-section-7 .u-layout-wrap-1 {width: 661px; margin-right: 29px; margin-bottom: 77px; margin-left: auto}
.u-section-7 .u-layout-cell-1 {min-height: 486px}
.u-section-7 .u-shape-2 {width: 292px}
.u-section-7 .u-image-1 {width: 286px}
.u-section-7 .u-text-1 {margin-right: 0; margin-left: 15px; width: NaNpx}
.u-section-7 .u-text-2 {width: 124px; margin-top: 14px; margin-bottom: 0}
.u-section-7 .u-layout-cell-2 {min-height: 486px}
.u-section-7 .u-shape-3 {width: 286px}
.u-section-7 .u-image-2 {width: 286px}
.u-section-7 .u-text-3 {margin-top: 46px; margin-right: -6px; margin-left: 30px; width: NaNpx}
.u-section-7 .u-text-4 {width: 124px; margin-bottom: 0}
.u-section-7 .u-layout-cell-3 {min-height: 486px}
.u-section-7 .u-shape-4 {width: 292px}
.u-section-7 .u-image-3 {width: 286px; height: 358px}
.u-section-7 .u-text-5 {margin-top: 49px; margin-left: 12px; margin-right: 12px; width: NaNpx}
.u-section-7 .u-text-6 {width: 124px; margin-top: 14px; margin-bottom: 0} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 1539px}
.u-section-7 .u-shape-1 {width: 539px; margin-left: auto}
.u-section-7 .u-layout-wrap-1 {width: 403px; margin-top: -551px; margin-right: 68px; margin-bottom: 0}
.u-section-7 .u-layout-cell-1 {min-height: 535px}
.u-section-7 .u-shape-2 {width: 357px}
.u-section-7 .u-image-1 {width: 368px}
.u-section-7 .u-text-1 {margin-right: 35px; margin-left: 46px}
.u-section-7 .u-text-2 {width: auto; margin: 20px 35px 2px 46px}
.u-section-7 .u-layout-cell-2 {min-height: 511px}
.u-section-7 .u-shape-3 {width: 357px}
.u-section-7 .u-image-2 {width: 368px}
.u-section-7 .u-text-3 {margin-top: 53px; margin-right: 35px; margin-left: 46px}
.u-section-7 .u-text-4 {width: 116px; margin-top: 20px; margin-bottom: 4px}
.u-section-7 .u-layout-cell-3 {min-height: 522px}
.u-section-7 .u-shape-4 {width: 357px}
.u-section-7 .u-image-3 {width: 368px}
.u-section-7 .u-text-5 {margin-top: 44px; margin-right: 35px; margin-left: 46px}
.u-section-7 .u-text-6 {width: 116px; margin-top: 20px; margin-bottom: 3px} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 1575px}
.u-section-7 .u-shape-1 {width: 339px}
.u-section-7 .u-layout-wrap-1 {width: 312px; margin-right: auto; margin-left: 14px}
.u-section-7 .u-layout-cell-1 {min-height: 100px}
.u-section-7 .u-shape-2 {width: 282px}
.u-section-7 .u-image-1 {width: 282px; height: 352px}
.u-section-7 .u-text-1 {margin-top: 44px; margin-right: 18px; margin-left: 32px}
.u-section-7 .u-text-2 {width: NaNpx; margin: 15px 16px 50px 32px}
.u-section-7 .u-layout-cell-2 {min-height: 100px}
.u-section-7 .u-shape-3 {width: 278px; margin-right: 2px}
.u-section-7 .u-image-2 {width: 282px; height: 346px}
.u-section-7 .u-text-3 {margin-top: 54px; margin-right: 47px; margin-left: 32px}
.u-section-7 .u-text-4 {width: 185px; margin-top: 14px; margin-bottom: 55px}
.u-section-7 .u-layout-cell-3 {min-height: 100px}
.u-section-7 .u-shape-4 {width: 280px}
.u-section-7 .u-image-3 {width: 282px; height: 355px}
.u-section-7 .u-text-5 {margin-top: 47px; margin-right: 47px; margin-left: 32px}
.u-section-7 .u-text-6 {width: 231px; margin-top: 18px; margin-bottom: 50px} }.u-section-8 .u-sheet-1 {min-height: 592px}
.u-section-8 .u-shape-1 {width: 536px; height: 318px; margin: 168px auto 0 0}
.u-section-8 .u-map-1 {width: 660px; height: 530px; margin-top: -455px; margin-right: 0; margin-bottom: initial; margin-left: auto}
.u-section-8 .u-group-1 {width: 557px; min-height: 348px; margin: -446px auto 129px 20px}
.u-section-8 .u-container-layout-1 {padding-left: 40px}
.u-section-8 .u-text-1 {margin: 35px 20px 0 0}
.u-section-8 .u-text-2 {margin: 31px 20px 0 0}
.u-section-8 .u-text-3 {font-weight: 700; margin: 20px 20px 0 0}
.u-section-8 .u-social-icons-1 {white-space: nowrap; height: 21px; min-height: 16px; width: 123px; min-width: 103px; margin: 10px auto 35px 0}
.u-section-8 .u-icon-1 {height: 100%}
.u-section-8 .u-icon-2 {height: 100%}
.u-section-8 .u-icon-3 {height: 100%}
.u-section-8 .u-icon-4 {height: 100%} 

@media (max-width: 1199px){ .u-section-8 .u-shape-1 {width: 442px; position: relative}
.u-section-8 .u-map-1 {width: 544px; position: relative}
.u-section-8 .u-group-1 {width: 459px; position: relative; margin-left: 16px}
.u-section-8 .u-container-layout-1 {padding-left: 16px}
.u-section-8 .u-text-1 {position: relative; margin-right: 16px}
.u-section-8 .u-text-2 {position: relative; margin-right: 16px}
.u-section-8 .u-text-3 {position: relative; margin-right: 16px}
.u-section-8 .u-social-icons-1 {position: relative} }

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 588px}
.u-section-8 .u-shape-1 {width: 339px}
.u-section-8 .u-map-1 {width: 417px}
.u-section-8 .u-group-1 {width: 352px; margin-left: 13px}
.u-section-8 .u-container-layout-1 {padding-left: 20px}
.u-section-8 .u-text-1 {margin-right: 13px}
.u-section-8 .u-text-2 {margin-right: 13px}
.u-section-8 .u-text-3 {margin-right: 13px} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: 807px}
.u-section-8 .u-shape-1 {width: 317px; margin-top: 117px}
.u-section-8 .u-map-1 {width: 449px; height: 369px; margin-top: -37px; margin-bottom: 0}
.u-section-8 .u-group-1 {width: 330px; margin-top: -707px; margin-bottom: 399px; margin-left: 31px}
.u-section-8 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-8 .u-text-1 {margin-left: 5px; margin-right: 5px}
.u-section-8 .u-text-2 {margin-left: 5px; margin-right: 5px}
.u-section-8 .u-text-3 {margin-left: 5px; margin-right: 5px}
.u-section-8 .u-social-icons-1 {margin-left: auto} }

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 810px}
.u-section-8 .u-shape-1 {width: 266px}
.u-section-8 .u-map-1 {width: 328px}
.u-section-8 .u-group-1 {width: 277px; margin-bottom: 402px; margin-left: 20px}
.u-section-8 .u-container-layout-1 {padding-left: 1px; padding-right: 1px}
.u-section-8 .u-text-1 {margin-right: 6px; margin-left: 1px}
.u-section-8 .u-text-2 {margin-right: 6px; margin-left: 1px}
.u-section-8 .u-text-3 {margin-right: 6px; margin-left: 1px} }